extend ../_component/layout/main

block config
  -
    var title = `Contact Quick Blog`
    var description = `Contact me, the creator of the blog, Antonio Raodsav`

block content
  #continue.scrool
    h2 Contact Information
    p You can find me on those social media platforms:
    ul
      li 
        a(href="https://www.facebook.com/antonioradosav", title="Click to go to Facebook") Facebook
      
      li 
        a(href="https://twitter.com/AntonioRadosav", title="Click to go to Twitter") Twitter
      li 
        a(href="https://www.linkedin.com/in/radosav-antonio-408713a0/", title="Click to go to Click to go to LinkedIn") LinkedIn
      li 
        a(href="https://www.youtube.com/channel/UCz4BVU5T-3eNMCfm9RJJWfQ?view_as=subscriber", title="Click to go to Click to go to YouTube") YouTube
        
    hr
    
    figure.image-container
      img.image(src="/asset/image/november.jpg")
      figcaption.image-caption
        strong Note:
        span Leaves fall down in November