extend ../_component/layout/main

block config
  -
    var title = template.head.title || `change title`
    var description = template.head.description || `chage description`

block content
  #continue.scrool
    each something in template.body
      if something.type == "h2"
        h2=something.data
      if something.type == "p"
        each paragraph in something.data 
          p=paragraph
    //- pre=JSON.stringify(template.body, null, 2)
    //- 26.43