$theme: "fansy";

// for test
$color-normal: #fff;
$color-dark: #111;

@if ($theme == "wine") {
  $color-normal: #ff681f;
  $color-dark: #831923;
}

@if ($theme == "orange") {
  $color-normal: #fbceb1;
  $color-dark: #ff681f;
}

@if ($theme == "cascade") {
  $color-normal: #95a5a6;
  $color-dark: #7f8c8d;
}

@if ($theme == "zest") {
  $color-normal: #e67e22;
  $color-dark: #d35400;
}

@if ($theme == "buttercup") {
  $color-normal: #f1c40f;
  $color-dark: #f39c12;
}

@if ($theme == "pickled-bluewood") {
  $color-normal: #34495e;
  $color-dark: #2c3e50;
}

@if ($theme == "wisteria") {
  $color-normal: #9b59b6;
  $color-dark: #8e44ad;
}

@if ($theme == "shamrock") {
  $color-normal: #2ecc71;
  $color-dark: #27ae60;
}

@if ($theme == "mountain-meadow") {
  $color-normal: #1abc9c;
  $color-dark: #16a085;
}

@if ($theme == "curious-blue") {
  $color-normal: #3498db;
  $color-dark: #2980b9;
}

@if ($theme == "cinnabar") {
  $color-normal: #e74c3c;
  $color-dark: #c0392b;
}

@if ($theme == "fansy") {
  $color-normal: #fbceb1;
  $color-dark: #da1b60;
}

$color-white: #fff;
$color-black: #000;
$color-apricot: #fbceb1;
$color-amaranth: #da1b60;
$color-cinder: #100e17;
$color-orange: #ff681f;
$color-merlot: #831923;
$color-athens-gray: #e7e9ec;
