@media (min-width: 1280px) {
    // .welcome{
    //     min-height: 100vh;
    // }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .scrool {
        grid-column: 1/2;
    }
    
    .footer{
        grid-column: 1/3;
    }
}