@media (min-width: 768px) {
    // .welcome {
    //     height: 100%;
    //     min-height: 100vh;
    // }

    // body {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr;
    // }

    .menu_panel {
        margin: 0.5rem;
        &:first-of-type{
            grid-column: 1/2;
        }
        &:last-of-type {
            grid-column: 2/3;
        }
    }
}