doctype html
html
    head
        title About Quick Blog
        meta(name="description", contnet="Quick Blog is one of the quickest and fastest toold for writing blogs in the world")
    body
        h1 About Quick Blog
        p Quick Blog is one of the quickest and fastest toold for writing blogs in the world