extend _component/layout/main

block config
  -
    var title = `Contact Quick Blog`
    var description = `ontact me, the creator of the blog, Antonio Raodsav`

block content
  h1=title
  p=description