extend _component/layout/main

block config
  -
    var title = `Welcome to Quick Blog`
    var description = `Use of quick Blog is easy and you will get 100/100 score in Google pagespeed insights`

block content
  .welcome
    h1=title
    p.welcome-description=description
    a.scrool-down(href="#continue") click to continue or scroll down

  #continue.scrool
    p
      | The source of Quick Blog can be found on GitHub at 
      a(href="https://radosavantonio.github.io/quick-blog") this link.
    blockquote.blockquote
      .blockquote__body
        p You don't have to be good to start, you have to start to become good!
      footer.blockquote__footer
        a(href="http://bitbee.uk", target="_blank") Antonio Radosav
    p.lead CONTENT
    p
      small Anxiety is naturally tiring because it causes ups and downs in your energy levels, which can leave you feeling incredibly drained. Some people feel tired throughout the whole day, while others feel tired only after an anxiety attack. Others feel extreme fatigue, finding they need to take frequent naps in order to regenerate, or feeling as though they can't focus on life because of their tiredness.
    a(href="#top") Top