.article{
    padding: 1rem;

    &:nth-child(even){
        background-color: $color-athens-gray;
    }

    &-link{
        text-align: right;
    }
}

// does the same think like &-link
// .article-link{
//     text-align: right;
// }